<!DOCTYPE html>
<html lang="fr_FR">
  <head>
    <meta charset="UTF-8">
    <title>Portfolio Julie Fayolle</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="img/favicon.ico"/>
    <script src="https://use.fontawesome.com/8660b7bffd.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Baloo+Chettan|Abel|Handlee" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <script src="./script.js"></script>
  </head>
  <body>
    <header>
      <ul class="list-no-style flex-container">
        <li class="vertical-align"><a class="hvr-shrink" href="#accueil"><i class="fa fa-home" aria-hidden="true"></i>Accueil</a></li>
        <li class="vertical-align"><a class="hvr-shrink" href="#profil"><i class="fa fa-user" aria-hidden="true"></i>Profil</a></li>
        <li class="vertical-align"><a class="hvr-shrink" href="#competences"><i class="fa fa-briefcase" aria-hidden="true"></i>Compétences</a></li>
        <li class="vertical-align"><a class="hvr-shrink" href="#contact"><i class="fa fa-envelope" aria-hidden="true"></i>Contact</a></li>
      </ul>
    </header>
