<main>
  <section id="accueil" class="flex-container flex-wrap direction-column section-container element-style">
    <h1>FAYOLLE<br>JULIE</h1>
    <h3>Web developer</h2>
  </section>
  <section id="profil" class="flex-container flex-wrap section-container element-style">

      <h3>~ Profil et expériences ~</h3>


<form class="flex-wrap flex-center">
  <fieldset id="diplome" class="form-quiz">
    <h4><b>Q1 : </b>Quel diplôme ai-je obtenu en juin 2016 ? <br></h4>
    <br>
    <label>
      <input type=radio name="Q1" value=0>DUT Carrière Juridique
    </label>
    <br>
    <label>
      <input type=radio name="Q1" value=1>BTS Communication
    </label>
    <br>
    <label>
      <input type=radio name="Q1" value=0>Brevet des collèges
    </label>
    <br>
    <label>
      <input type=radio name="Q1" value=0>Docteur en Médecine
    </label>
  </fieldset>

  <fieldset id="formation" class="form-quiz">
    <h4><b>Q2 : </b>Vrai ou Faux? En octobre 2017, j'ai intégré une formation de developpeur d'application web et mobile au sein de l'IT-Akademy. (V/F)<br></h4>
    <br>
    <label for="vraiFaux"></label>
    <input id="vraiFaux" type=text name="Q2" value="" placeholder="Vrai/Faux">
    </fieldset>

  <fieldset id="personnalite" class="form-quiz">
    <h4><b>Q3 : </b>Quels traits de ma personnalité pourraient, selon moi, m'être utiles dans ce nouveau métier ?<br></h4>
    <br>
    <label>
      <input type=checkbox name="Q3a" value=1>Curieuse
    </label>
    <br>
    <label>
      <input type=checkbox name="Q3b" value=0>Réservé
    </label>
    <br>
    <label>
      <input type=checkbox name="Q3c" value=0>Souriante
    </label>
    <br>
    <label>
      <input type=checkbox name="Q3d" value=1>Patiente
    </label>
    <br>
    <label>
      <input type=checkbox name="Q3e" value=1>Créative
    </label>
    <br>
    <label>
      <input type=checkbox name="Q3f" value=0>Emotive
    </label>
  </fieldset>

  <fieldset id="stage" class="form-quiz">
    <h4><b>Q4 : </b>Je vais pouvoir mettre à profit toutes les compétences acquises au cours de la formation lors d'un stage en entreprise en...<br></h4>
    <label for="mois"></label>
    <select id="mois">
      <option name="Q4" value="0">Décembre 2017</option>
      <option name="Q4" value="1">Janvier 2018</option>
      <option name="Q4" value="0">Avril 2018</option>
    </select>
  </fieldset>
  <a class="form-quiz text-align-center style-button" data-action="getResult" href="#">Résultats</a>
</form>


  </section>
  <section id="competences" class="flex-container element-style">

    <div>
      <h3 class="flex-container">~ Compétences ~</h3>
      <div class="flex-container direction-row">
      <ul class="list-no-style">
        <li><img class="logo-size" src="img/logoHtml.png"></li>
        <li><img class="logo-size" src="img/logoCss.png"></li>
        <li><img class="logo-size" src="img/logoBootstrap.png"></li>
      </ul>
      <ul class="list-no-style">
        <li><img class="logo-size" src="img/logoPhp.svg"></li>
        <li><img class="logo-size" src="img/logoJquery.gif"></li>
        <li><img class="logo-size" src="img/logoMysql.png"></li>
      </ul>
     </div>
   </div>
  </section>
  <section id="realisations" class="flex-container flex-wrap section-container element-style">
    <h3 class="flex-container">~ Mes réalisations ~</h3>
    <div class="form-quiz">
      <img src="http://fakeimg.pl/250x250/">
    </div>
    <div class="form-quiz">
      <img src="http://fakeimg.pl/250x250/">
    </div>
    <div class="form-quiz">
      <img src="http://fakeimg.pl/250x250/">
    </div>
    <div class="form-quiz">
      <img src="http://fakeimg.pl/250x250/">
    </div>
  </section>
  <section id="contact" class="flex-container flex-wrap flex-wrap-reverse section-container element-style">
    <div class="half-size min-size-small">
      <h3 class="flex-container">~ Contactez moi ~</h3>
      <div class="flex-container">
        <div>
        <ul class="list-no-style">
          <li><i class="fa fa-envelope-o padding-icone" aria-hidden="true"></i></li>              <li><i class="fa fa-location-arrow padding-icone" aria-hidden="true"></i></li>
        </ul>
      </div>
      <div>
        <ul class="list-no-style">
          <li>fayolle.julie96@gmail.com</li>
          <li>Lyon/St Etienne</li>
        </ul>
      </div>
      </div>
    </div>
    <div class="half-size min-size-small flex-container">
      <img class="img-size" src="img/machine-ecrire.jpg">
    </div>
  </section>
</main>
